body {
    background-color: rgb(198, 173, 211);
}


@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@300;400;700&display=swap');


.padre {
    font-size: 15px;
}


.parrafo1 {
    font-family: 'Comforter Brush', cursive;
    font-weight: 600;
    font-size: 1.5em;
    

}
.parrafo2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
/*Root em
rem
toma en cuenta el tamaño fijado por el navegador

*/
.fa-dragon {
    color: pink;

}