#titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:10px;

    color: rgba(43, 17, 192, 0.637);

    border: 3px solid rgb(223, 139, 235);

    width: 200px;
    height: 100px;

    
    overflow: scroll;

    margin: 3px;
    padding: 10px;
    padding-left: .5cm;

}