body{
    font-family: sans-serif;
    overflow-x: hidden;
}
#menu a {
    font-size: 18px;
    color: rgb(227, 74, 120);
}

h1{
    color: rgb(227, 74, 120);
}
p span{
    
    color: rgb(187, 72, 122);
}
nav{
    background-color: rgb(255, 227, 193);
}
.carousel-inner{
    max-height: 39rem;
}

header{
    background-color: rgb(255, 227, 193);

}
header>img{
    width: 11rem;
    height: 3rem;
}

li>a{
    align-items: flex-end;
    margin-top: 4mm;
}

li>div>img{
    width: 4cm;
    margin-top: 2mm;
}
.acceder{
    width: 2rem;
    margin-left: 35rem;
    margin-top: 2mm;
}
.registro {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 2mm;
    
  }

.container-fluid-abajo{
    background-color: rgb(255, 227, 193);
    bottom: 0;
   
  
   width: 100%;
   height: 400px;
}
#ac{
    width: 500px;
     height: 70px;
     margin: left;
}
#mapa{ 
        margin-top: 2cm;
        margin-left: 150px;
        width: auto;
        float: left;
}
#sede{
      text-align: center;
      color: rgb(212, 146, 179) ;
      padding: 0;
      margin-left: 20px;
      margin-bottom: 0;
      margin-top:1cm;
}
#direccion{
      text-align: center;
      margin-left: 20px;
      
        color: rgb(228, 72, 137) ;
        
}      
td>h2{
    color: rgb(218, 84, 111);
}
.footercolor{
    color: rgb(230, 118, 174);
}
#contacto{
    margin-left: -1cm;

}
#conocenos{
    margin-left: 2cm;
}